@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/Ubuntu-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/Ubuntu-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/Ubuntu-Italic.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #AD3135, #641662, #230118);
    font-family: 'Ubuntu', sans-serif;
}

/* Responsive para la fuente  */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}


/* CSS PARA LA GRILLA DE EL ESCRITORIO (incluyendo las imagenes y el texto */
.desktop-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* padding: top right bottom left */
    border-radius: 10px;
    /* Añade bordes redondeados */
    width: 100px;
    transition-property: color, width;
    /* Especifica las propiedades que deseo animar */
    transition-duration: 0.3s;
    /* Duración de la transición */
    transition-timing-function: ease;
    /* Función de temporización de la transición */
    margin-left: 60px;
    margin-top: 20px;

}

.app:hover {
    background-color: rgba(255, 255, 255, 0.3);
    /* Añade un fondo blanco transparente */
}

.app img {
    display: block;
    width: 50px;
    height: 50px;
    transform: scale(1);
    /* Asegura que la imagen comienza a escala normal antes de hover */
}

.app p {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: aliceblue;
    transform: scale(1);
    /* Asegura que el párrafo comienza a escala normal antes de hover */
}

.app:hover img,
.app:hover p {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño al hacer hover */
    cursor: pointer;
    /* Cambia el cursor a un puntero */
}

/* Responsive de la grilla  */
@media screen and (max-width: 768px) {
    .desktop-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .app {
        width: 80px;
        margin-left: 20px;
    }
}



/* //////////////////////////////////////////////////////////// */

/* Estilo para la barra de navegación */
#navbar {
    background-color: #1D1D1D;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.time-date-container {
    display: flex;
    gap: 20px;
    /* Espacio entre la fecha y la hora */
}

/* Codigo para la barra lateral la cual tiene links a las redes sociales */
.social-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 60px;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, .15);
    border: 1px solid hsla(0, 0%, 100%, .2);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-bar__task {
    margin: 30px;
}

.social-bar__task:first-child {
    margin-top: 50px;
    /* Valor de altura */
}

.social-bar__task img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-bar__task img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .social-bar {
        height: 60px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        /* Alinea todos los elementos hijos al centro verticalmente */
        justify-content: center;
        /* Centra los elementos hijos horizontalmente */
    }

    .social-bar__task:first-child {
        margin-top: 30px;
        /* Restablece el margen superior del primer hijo a su valor original */
    }
}




/* MODAL PARA EL PRIMER ARCHIVO  */

/* Codigo para las ventanas */
/* Estilo para la ventana modal */
.modal {
    position: absolute;
    width: 800px;
    height: 700px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: hidden;
    z-index: 10000;
    /* Aumenta el z-index para que la ventana modal aparezca por encima de otros elementos */

}

/* Responsive para la modal  */
@media screen and (max-width: 768px) {
    .modal {
        width: 100%;
        height: calc(100% - 90px);
        /* 30px para la barra superior y 60px para la barra inferior */
        top: 30px;
        /* Este valor es la altura de tu barra superior. */
        left: 0;
        bottom: 60px;
        /* Este valor es la altura de tu barra inferior. */
        z-index: 9998;
        /* Asegúrate de que sea menor que el z-index de tu barra superior. */
        position: fixed;
        /* Esto puede ayudar a que la ventana modal se mantenga en su lugar. */
        overflow: auto;
        /* Esto añade barras de desplazamiento si el contenido de la modal es demasiado grande. */
    }
}




.top-bar-ubuntu {
    cursor: move;
    /* Cambia el cursor a un puntero */
    background-color: #323737;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.top-bar-ubuntu .title {
    margin-right: auto;
    /* Push everything to the right of the title to the far right */
}

.minimize,
.maximize,
.close {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    /* Incrementamos el tamaño de la fuente para que los caracteres sean más grandes */
    line-height: 1;
    margin-left: 10px;
    cursor: pointer;
    height: 24px;
    /* Especificamos la altura para asegurar que todos los elementos estén alineados */
    display: flex;
    /* Utilizamos flexbox para alinear los elementos a lo largo del eje horizontal */
    align-items: center;
    /* Alineamos los elementos a lo largo del eje vertical */
    justify-content: center;
    /* Centramos los elementos a lo largo del eje horizontal */
}

.close {
    color: red;
}


.modal-content {
    padding: 20px;
    overflow: auto;
    /* To enable scrolling if the content overflows */
}

/* Codigo para la segunda ventana modal */

/* Estilos específicos para el modal con id="modal2" */
#modal2 {
    display: flex;
    flex-direction: column;
}

#modal2 .modal-content {
    flex: 1;
    display: flex;
    overflow: auto;
    height: calc(100% - 100px);
    /* Restamos la altura de las barras (cambia este valor según tus necesidades) */
}

#modal2 .content {
    flex: 1;
    display: flex;
    overflow: auto;
}



/* Código para el "Sobre mí" */
#modal3 .content,
#modal1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal3 .content #myImage {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}

#modal3 .modal-content,
#modal1 .modal-content {
    overflow-y: auto;
    height: calc(100% - 30px);
    padding: 20px;
}

#modal3 .content #myTitle,
#modal1 .content #myTitle {
    text-align: left;
}

#modal3 .content .subtitle,
#modal1 .content .subtitle {
    text-align: left;
    margin-bottom: 20px;
}


#app3 i,
#app3 p {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    transition-property: color, font-size;
    /* Especifica las propiedades que deseas animar */
    transition-duration: 0.3s;
    /* Duración de la transición */
    transition-timing-function: ease;
    /* Función de temporización de la transición */
}

#app3:hover i,

#app3:hover p {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño al hacer hover */
    cursor: pointer;
    /* Cambia el cursor a un puntero */
}



/* CSS PARA EL CONTENIDO DE LAS VENTANAS MODALES  */

.modal-content .content h2 {
    font-size: 30px;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.modal-content .content h4 {
    font-size: 16px;
    margin-top: -0.2em;
    /* espacio inferior */
    margin-bottom: 0;
    /* Elimina el margen inferior */
}

/* CSS para los insignias y grilla   */
.badge-grid img {
    width: auto;
    height: 24px;
    padding-right: 10px;
    margin-bottom: 10px;
    /* Espacio entre cada fila de imagenes */
    margin-right: 20px;
}

.badge-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* Esto alinea los elementos a la izquierda */
    border-collapse: separate;
    border-spacing: 0 10px;
    /* Espacio entre filas */
    max-width: 80%;
    /* Maxima amplitud de la grilla */
    margin-left: auto;
    /* Nuevo: Centra el contenedor horizontalmente */
    margin-right: auto;
    /* Nuevo: Centra el contenedor horizontalmente */
    margin-bottom: 30px;
    /* Nuevo: Agrega espacio después de la grilla */
}

.content p {
    text-align: justify;
    max-width: 600px;
    /* Ajusta el valor según tus preferencias */
    margin-left: auto;
    margin-right: auto;
}

.content h3 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

/* CSS para la segunda aplicacion  */
.download-bar {
    background-color: #323737;
    outline: 1px solid #7b7d7b;
    font-size: 12px;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custom-link {
    display: inline-block;
    vertical-align: middle;
    background-color: #4B4848;
    /* Color oscuro de Ubuntu */
    color: #fff;
    /* Texto blanco */
    text-decoration: none;
    /* Eliminar subrayado */
    border: none;
    /* Sin bordes */
    padding: 10px 15px;
    /* Espacio interno */
    margin-right: 10px;
    /* Espacio entre botones */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Efecto de transición */
}

.custom-link:hover {
    background-color: #201F1F;
    /* Cambiar el color de fondo al pasar el mouse */
}

.custom-link i {
    margin-right: 5px;
    /* espacio entre el ícono y el texto */
}

.download-bar {
    padding-left: 10px;
    /* Añade un padding a la izquierda */
}

.download-bar .custom-link {
    margin-right: 10px;
    /* Añade espacio a la derecha de cada enlace */
    font-size: 14px;
}

.download-bar .custom-link i {
    font-size: 18px;
    /* ajusta esto al tamaño que desees para el ícono */
}

/* CSS para maximizar la ventana SE JUNTA CON EL JAVASCRIPT PARA ESTA FUNCIONALIDAD  */
.maximized {
    position: fixed;
    top: 30px;
    /* Altura de la navbar */
    left: 60px;
    /* Ancho del sidebar */
    right: 0;
    bottom: 0;
    width: auto;
    /* Ancho auto para permitir a 'right' y 'left' definir el ancho */
    height: auto;
    /* Altura auto para permitir a 'top' y 'bottom' definir la altura */
    z-index: 9998;
    /* Asegúrate que la ventana maximizada esté debajo de la navbar */
}


#modal1 .content #myImage {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}

#h4-app1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.left-p,
.left-list {
    /* Aplica los estilos del 'h3' a los elementos 'p' y 'ol' con la clase 'left-p' y 'left-list' respectivamente */
    text-align: left;
    margin-left: 50px;
    /* reducir el margen izquierdo */
    font-size: 16px;
    width: calc(100% - 20px);
}

.left-list {
    /* Aquí puedes agregar los estilos adicionales que necesites para el 'ol' */
    overflow: auto;
    padding-left: 0;
    /* remueve el padding predeterminado de la lista */
    list-style-position: inside;
    /* coloca los números/letras de la lista dentro del margen de la lista */
    max-width: 600px;
    margin-bottom: 20px;
}

.left-list li {
    /* Aquí puedes agregar estilos específicos para los 'li' dentro del 'ol' */
    margin-bottom: 30px;

}

.modal .left-align h3,
.modal .left-align p,
.modal .left-align ul {
    text-align: left;
}